
#event {
  text-align: center;
  background-color: #DCDCDC;

}
#content {
  text-align: center;
  background-color: white;
}
body {
  background-image: url("https://images.operacluj.ro/2019/06/Opera-Cluj-Napoca.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 8%;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #a22a2a; 
}
tr:nth-child(odd){background-color:#8e2525;}

th {
  background-color: #651a1a;
  color: white;
}
tbody {
  color: white;
  text-align: center;
}
tr:hover { 
  background-color:  #651a1a;
}
#join {
  text-align: center;
  color: #DCDCDC;
  font-size: 10mm;
}

#vol {
  text-align: center;
  color: #DCDCDC;
  font-size: 5mm;
  font-weight: 600;
}