#event {
  text-align: center;
}
#content {
  text-align: center;
  background-color: white;
}

body {
  background-image: url("https://images.operacluj.ro/2019/06/Opera-Cluj-Napoca.jpg");
  background-repeat: no-repeat;
  background-position: center;
}